<div class="logo">
  <h1>Time Tracker</h1>
  <hr>
</div>

<!-- TODO -->
<% if current_user %>
  <ul class="custom-nav nav nav-tabs">
    <li class="nav-item <%= active?(root_path) %>">
      <%= link_to "", root_path, class: 'glyphicon glyphicon-home' %>
    </li>

    <%= render 'shared/employee_nav_items' if employee? %>

    <%= render 'shared/audit_log_tab' if admin? %>


    <li class="nav-item dropdown ml-md-auto">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Options</a>
      <ul class="dropdown-menu">
        <!-- TODO -->

        <%= render 'shared/admin_dropdown' if admin? %>

        <!-- TODO -->
        <li>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        </li>
    </ul>
  </li>
  </ul>
<% end %>
<!-- TODO -->
